# volumes:
#   mongodb_data:
        
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    # environment:
    #   - MONGO_INITDB_ROOT_USERNAME=orleans
    #   - MONGO_INITDB_ROOT_PASSWORD=orleanspass
    #   - MONGO_INITDB_DATABASE=orleans
    # volumes:
    #   - mongodb_data:/data/db
    networks:
      - my-network
    command: ["mongod", "--quiet", "--logpath", "/dev/null"]

  web:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "5000:5000"
    volumes:
      - ./Web/app:/app
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
    working_dir: /app
    entrypoint: ["dotnet", "Web.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  # node0:
  #   image: mcr.microsoft.com/dotnet/aspnet:8.0
  #   ports:
  #     - "30000:30000"
  #   volumes:
  #     - ./Node/app:/app
  #   environment:
  #     - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
  #     - GATEWAY_PORT=30000
  #   working_dir: /app
  #   entrypoint: ["dotnet", "Node.dll"]
  #   depends_on:
  #     - mongodb
  #   networks:
  #     - my-network

  node1:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30001:30001"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30001
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node2:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30002:30002"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30002
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node3:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30003:30003"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30003
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node4:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30004:30004"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30004
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node5:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30005:30005"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30005
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]

    depends_on:
      - mongodb
    networks:
      - my-network

  node6:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30006:30006"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30006
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node7:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30007:30007"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30007
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node8:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30008:30008"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30008
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

  node9:
    image: mcr.microsoft.com/dotnet/aspnet:8.0
    ports:
      - "30009:30009"
    volumes:
      - ./Node/app:/app
      - ./Node/data:/data
    environment:
      - MONGODB_CONNECTION=mongodb://mongodb:27017/orleans
      - GATEWAY_PORT=30009
      - DATA_FOLDER=/data
    working_dir: /app
    entrypoint: ["dotnet", "Node.dll"]
    depends_on:
      - mongodb
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
