.my-field {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    line-height: 60px;
    margin: 2px;
    font-size: 22px;
    color: white;
    text-align: center;
    padding: 0;
    transition: all 0.1s ease;
    cursor: pointer;
    text-shadow: 
      -1px -1px 0 rgba(0, 0, 0, 0.5),
       1px -1px 0 rgba(0, 0, 0, 0.5),
      -1px  1px 0 rgba(0, 0, 0, 0.5),
       1px  1px 0 rgba(0, 0, 0, 0.5);
    user-select: none;
}

.my-field-selected-true {
    border: 4px solid black;
}

.my-field-selected-false {
    border: 4px solid rgba(255, 255, 255, 0.0);
}


